@font-face {
    font-family: "inter_bold";
    src: url(font_family/static/Inter-Bold.ttf);
}

@font-face {
    font-family: "inter_regular";
    src: url(font_family/static/Inter-Regular.ttf);
}

@font-face {
    font-family: "inter_light";
    src: url(font_family/static/Inter-Light.ttf);
}

body {
    margin: 0;
    background-image: url(assets/desktop/bg-image-daytime.jpg);
}

p,
span {
    font-family: "inter_regular";
}

#main_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    color: white;
}

#quote {
    grid-area: 1 / 1 / 2 / 2;
}

#quote_author {
    font-family: "inter_bold";
}

#quote_refresh {
    appearance: none;
    border: none;
    background: none;
}

#refresh_icon {
    fill: #FFF;
    fill-rule: nonzero;
    opacity: .5;
}

#refresh_icon:hover {
    opacity: 1;
}

button:hover {
    cursor: pointer;
}